{% extends "base.html" %} {% block title %}Zarejestruj się{% endblock %}
{% block content %}
<h1>Zarejestrowanie się</h1>
<form method="POST">
    <h3 align="center">Zarejestruj się</h3>
    <div class="form-group">
      <label for="email">Adres email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="first_name">Imię</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="password1">Hasło</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Hasło - potwierdź</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}