{% extends "base.html" %} {% block title %}Zmiana{% endblock %}
{% block content %}
<h1 align="center">Dane</h1>
<form method="POST">
    Odcinek:
    <input name="num_episode" id="num_episode" class="form-control" />
    <br />
    Seria:
    <input name="num_series" id="num_series" class="form-control" />
    <br />
    Data emisji w telewizji:
    <input name="date" type="date" id="date" class="form-control" />
    <br />
    Link:
    <input name="link" id="link" class="form-control" />
    Liczba punktów:
    <input name="point" id="point" class="form-control" />
    Zwycięzca:
    <input name="name" id="name" class="form-control" />
    Stanowisko:
    <select name="position" id="position" class="form-control" >
      <option value="One">1</option>
      <option value="Two">2</option>
      <option value="Three">3</option>
      <option value="Four">4</option>
      <option value="Five">5</option>
      <option value="Six">6</option>
      <option value="Seven">7</option>
      <option value="Eight">8</option>
      <option value="Nine">9</option>
      <option value="Ten">10</option>
      <option value="Eleven">11</option>
      <option value="Twelve">12</option>
      
    </select>
    <div align="center">
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
  </form>
{% endblock %}