{% extends "base.html" %} {% block title %}Zmiana{% endblock %}
{% block content %}
<h1 align="center">Dane</h1>
<form method="POST">    
    <h2>Czy na pewno chcesz usunąć dane?</h2>
    <div align="center">
        <button type="submit" class="btn btn-danger">Usuń</button>
    </div>
</form>
{% endblock %}