{% extends "base.html" %} {% block title %}Zmiana{% endblock %}
{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Odcinek</th>
        <th>Seria</th>
        <th>
          <a href="?ordering=date" >
            ↑
          </a>
          Data odcinka
          <a href="?ordering=-date">
            ↓
          </a>
        </th>
        <th>Link</th>
        <th>Zwycięzca</th>
        <th>
          <a href="?ordering=state" >
            ↑
          </a>
          Stanowisko
          <a href="?ordering=-state">
            ↓
          </a>
        </th>
        <th>
          <a href="?ordering=point" >
            ↑
          </a>
          Liczba punktów
          <a href="?ordering=-point">
            ↓
          </a>
        </th>
        <th>Akcja</th>
        <th>Usuń</th>
      </tr>
    </thead>
    <tbody>
      {% for episode in query %}
        <tr>
          <td>{{ episode.num_episode }}</td>
          <td>{{ episode.num_series }}</td>
          <td>{{ episode.date }}</td>
          <td><a href={{ episode.link }}>{{ episode.link }}</a></td>
          <td>{{ episode.point.name }}</td>
          <td>{{ episode.point.position }}</td>
          <td>
            
            {{ episode.point.point }}
            
          </td>
          <td><a href="edit-data/{{ episode.id }}">Edytuj</a></td>
          <td><a href="delete-data/{{ episode.id }}">Usuń</a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
{% endblock %}